.board {
	height: 91%;
	width: 1520px;
	margin: auto;
	outline: 3px solid #111;
	background: #333;
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 15fr;
	grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
	grid-gap: 0.5rem;

	p {
		text-align: center;
	}

	span {
		font-size: 40px;
		text-align: center;
		margin: auto;
		vertical-align: bottom;
		display: block;
	}

	&__tile {
		position: relative;
		width: 183px;
		height: 140px;
		background: #c7b299;
		background-image: url(../../img/dark-denim-3.png)
	}

	&__punish {
		color: red;
		background: #958573;
		background-image: url(../../img/dark-denim-3.png)
	}

	&__center {
		grid-column: 2 e("/") 8;
		grid-row: 2 e("/") 6;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		background-image: url(../../img/map.jpg);
	}

	&__player {
		position: absolute;
		left: 18%;
		top: 10%;

		img {
			display: block;
			margin: auto;
			width: 110px;
			height: auto;
			background-size: contain;
		}
	}

	&__dice {
		grid-row: 4;
		width: 150px;
		height: 100px;

		#can {
			position: relative;
			bottom: 30px;
			right: 100px;
		}
	}
}
