.board{
  	height: 91%;
    width: 80%;
    margin: auto;
    outline: 3px solid #111;
    background: #333;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 15fr;
    grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-gap: 0.5rem;
	
	&__tile{
		width:183px;
  		height: 140px;
  		background: #c7b299;
		background-image: url(../../img/dark-denim-3.png)
	}
	&__center{
		grid-column: 2 e("/") 8;
    	grid-row: 2 e("/") 6;

    	display: grid;
    	/*grid-template-columns: subgrid;*/
    	grid-template-rows: repeat(3, 1fr);
	}
	&__player {
		img{
			display: block;
			margin: auto;
			width: 110px;
			height: auto;
		}
	}
	&__dice{
		width: 100px;
		height: 100px;
	}
}