.card{
	width: 1200px;
	margin: auto;
	position: relative;
	top: 10%;
	&__character{
		display: inline-block;
		width: 216px;
		height: 280px;
		margin: 10px;
		padding-top: 10px;
		background-image: url(../../img/card-0-01.png);
		background-size: cover;
	}
	&__token{
		width: 60%;
		height: auto;
		margin-top: 5px;
		margin-left: 22%;
	
	}
	&__charName{
		text-align: center;
		font-weight: 600;
		font-size: 18px;
	}
	&__gender{
		text-align: center;
		font-weight: 600;
		margin: 0 2px;
		font-size: 14px;
		padding: 0px 5px;
	}
}